// COLORS
$primary-dark: hsl(243, 87%, 12%);
$primary-pale: hsl(238, 22%, 44%);
$primary-bright: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
$cyan-light: hsl(169, 67%, 72%);
$grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

$font-color: #181945;

$primary-color: #449BC0;
$primary-color-dark: #5A90AC;
$secounday-color: #DBEFFA;

// BREAKPOINTS
$bp-bg: 53.125em;     // 850px
$bp-md: 46.875em;     // 750px
$bp-sm: 40.625em;     // 650px
$bp-x-sm: 31.25em;    // 500px

$bp-x-sm-plus-one: 31.3125em;    // 501px

$bp-bg-header: 1160px;
$bp-md-header: 950px;