nav {
    min-height: 5vh;

    @media only screen and (max-width: $bp-sm) {
        flex-direction: row;

        .col-1-of-2 {
            width: 50%;
        }
    }   

    .logo {
        display: flex;
        align-items: center;

        font-weight: 800;
        font-size: 2.4rem;
        color: $font-color;

        img {
            margin-right: 1rem;
        }

        span {
            color: $primary-color;
        }
    }
}

ul.nav-list {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    
    display: flex;
    align-items: center;
    float: right;

    li {
        margin-left: 4.8rem;
        width: max-content;
        text-decoration: none;
        
        a {
            color: $font-color;
        }
    }
    
    .nav-btn {
        padding: 1.8rem 5rem;
        color: white;
    }
}

.nav {

    &__toggle {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 1rem;
    
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $font-color;
            transition: all 100ms center;
            transform-origin: 3px 1px;
            border-radius: 5rem;
    
            &:not(:last-child){
                margin-bottom: 5px;
            }
            transition: all 200ms;
        }
      }
}

.hide-for-desktop {
    @media only screen and (min-width: 951px) {
        display: none;
    }
  }
  
.hide-for-mobile {
@media only screen and (max-width: 950px) {
    display: none;
}
}