/* 
ul.nav-list {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    
    display: flex;
    align-items: center;
    float: right;

    li {
        margin-left: 4.8rem;
        width: max-content;
        text-decoration: none;
        
        a {
            color: $font-color;
        }
    }
    
    .nav-btn {
        padding: 1.8rem 5rem;
        color: white;
    }
}

.nav {

    &__toggle {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 1rem;
    
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $font-color;
            transition: all 100ms center;
            transform-origin: 3px 1px;
            border-radius: 5rem;
    
            &:not(:last-child){
                margin-bottom: 5px;
            }
            transition: all 200ms;
        }
      }
}

.hide-for-desktop {
    @media only screen and (min-width: 951px) {
        display: none;
    }
  }
  
.hide-for-mobile {
@media only screen and (max-width: 950px) {
    display: none;
}
} */

.nav {
    /* @media only screen and (max-width: $bp-md) {
        .row {
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
    } */

    .logo {
        display: flex;
        align-items: center;
        color: $font-color;
        img {
            margin-right: 1rem;
        }

        span {
            color: $primary-color;
        }

        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 2.8rem;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;

        @media only screen and (max-width: $bp-md) {
            margin-top: 2rem;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }
    
    &__link {
        text-decoration: none;
        color: $font-color;
        transition: all 300ms ease;

        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.8rem;
        letter-spacing: -0.02em;
        
        &:hover {
            color: $primary-color;
        }
    }

    &__btn {
        padding: 1.4rem 4rem;
        color: white;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    
  &__toggle {
    display: flex;
    flex-direction: column;
    align-items: end;

    > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $font-color;
        transition: all 100ms center;
        transform-origin: 3px 1px;
        border-radius: 5rem;

        &:not(:last-child){
            margin-bottom: 5px;
        }
        transition: all 200ms;
    }
  }

  &__toggle.open-btn {
    > span:first-child {
        transform: rotate(45deg);
        transform-origin: 12% 40%;
    }
    > span:nth-child(2) {
        opacity: 0;
    }
    > span:last-child {
        transform: rotate(-45deg);
        transform-origin: 12% 40%;
    }
  }

  &__menu {
    background-color: $primary-color-dark;
    
    color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 3.2rem;
    z-index: 50;

    list-style: none;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 2.5%;
    padding: 4rem 0;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms linear;

    .nav {
        &__link {
            width: 100%;
            text-align: center;
            padding: 2rem 0;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
        &__item {
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 1.8rem;
        }
    }
  }
}


.open-menu {
    visibility: visible;
    opacity: 1;
}

.hide-for-desktop {
    @media only screen and (min-width: 951px) {
        display: none;
    }
  }
  
  .hide-for-mobile {
    @media only screen and (max-width: 950px) {
        display: none;
    }
  }