.services {

    .container {
        padding: 8rem 3rem;
    }

    @media only screen and (max-width: $bp-bg) {
        text-align: center;
    }  

    .title {
        max-width: 65rem;
        
        @media only screen and (max-width: $bp-bg) {
            max-width: 100%;
        }  
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-column-gap: 4rem;
        grid-row-gap: 5rem;
        
        @media only screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        } 
        @media only screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        } 
    }

    .card {
        background: #FFFFFF;
        border: 1px solid rgba(24, 25, 69, 0.1);
        border-radius: 3.2rem;
        padding: 1.6rem;
        
        text-align: center;
        

        .box {
            border-radius: 3.2rem;
            width: 100%;
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            

            &--1 {
                background: #DBEFFA;
            }
            &--2 {
                background: #DBDEFA;
            }
            &--3 {
                background: #F6DBFA;
            }
            &--4 {
                background: #FADBE2;
            }

            .icon-box {
                background: #fff;
                width: 7.2rem;
                height: 7.2rem;
                border-radius: 1.6rem;
                color: $primary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                i {
                    color: $primary-color;
                    font-size: 3.2rem;
                }

                &::before {
                    position: absolute;
                    content: "";
                    background: rgba(255, 255, 255, 0.2);
                    border: 1px solid white;
                    border-radius: 16px;
                    width: 5%;
                    height: 5%;
                    padding: 5rem;
                }
            }
        }


        .text {
            padding-bottom: 2rem;
        }
        
        h3 {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }    

}