@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 53.125em) {
  html {
    font-size: 55.5%;
  }
}
@media only screen and (max-width: 46.875em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 40.625em) {
  html {
    font-size: 47%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #181945;
  font-size: 1.8rem;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 6.4rem;
  line-height: 6rem;
}

h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.5rem;
  letter-spacing: -0.04em;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
}

.highlight {
  color: #449BC0;
}

sub {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #449BC0;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  background: #449BC0;
  border-radius: 1.6rem;
  padding: 2rem 5rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  transition: all 300ms ease;
  flex: 1;
}
.btn:hover {
  background-color: rgba(68, 155, 192, 0.8);
}

.btn-outline {
  padding: 2rem 4rem;
  background: rgba(81, 196, 209, 0.18);
  color: #449BC0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: all 300ms ease;
  margin-top: 5rem;
}
.btn-outline .icon {
  margin-left: 2rem;
}
.btn-outline:hover {
  color: #fff;
  background-color: #449BC0;
}

body {
  background-color: #DBEFFA;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-x: hidden;
}
body::before {
  background: url("../images/rectangle1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  height: 70%;
  width: 70%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
}
body::after {
  background: url("../images/rectangle2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 70%;
  width: 70%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -50;
}

.line {
  background: url("../images/lines.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}

.container {
  margin: auto;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: #fff;
  text-align: center;
  border-radius: 4.8rem;
  padding: 6rem 7rem;
  z-index: 50;
  margin-top: 5rem;
}
@media only screen and (max-width: 550px) {
  .box {
    padding: 7rem 7rem;
  }
}
@media only screen and (max-width: 480px) {
  .box {
    padding: 6rem 6rem;
    max-width: 50rem;
  }
}
@media only screen and (max-width: 450px) {
  .box {
    padding: 5rem 5rem;
    max-width: 45rem;
  }
}
.box h1 {
  font-size: 5.52264rem;
}
.box .btnWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
@media only screen and (max-width: 480px) {
  .box .btnWrapper {
    width: 90%;
  }
}
.box .btn {
  width: 80%;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
  margin-top: 4rem;
}
@media only screen and (max-width: 450px) {
  .box .btn {
    width: 90%;
  }
}
.box .btn:first-of-type {
  margin-bottom: 3.5rem;
}
.box form {
  width: 100%;
  margin-top: 6rem;
}
.box form label {
  font-weight: 400;
  font-size: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 0.5rem;
}
.box form .inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  position: relative;
}
.box form .inputWrapper p {
  color: rgba(3, 146, 0, 0.5);
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
}
.box form input {
  margin-top: 0.5rem;
  width: 100%;
  height: 7rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 15.3407px;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  color: #181945;
  outline: none !important;
}
.box form input.error {
  border: 2px solid rgba(238, 85, 85, 0.5);
}
.box form input.success {
  border: 2px solid rgba(3, 146, 0, 0.5);
}
.box form i {
  z-index: 1;
  position: absolute;
  bottom: 38.5%;
  right: 5%;
  font-size: 2.5rem;
  /* color: rgba(238, 85, 85, .8); */
  color: #81C880;
}/*# sourceMappingURL=main.css.map */